h1,h2,h3,h4,h5,h6,p {
    padding: 10px 0;
    margin: 0;
    font-size: 20px;
}


.form-control {
  width: 150px;
}

.form-box {
  width: 150px;
  margin: 0 20px;
}

.btn-primary {
  float :right;

}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.contents{
  width: 150px;
  margin: 20px 20px;
}

.btn-info {
  width: 100px;
  margin:0 120px;
}