.head-title {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.player-setting{
  float:right
}
th {
  background-color: #A9F5D0
}

td {
  background-color:#CEF6EC ;
}

.red {
  color: red;
}
.blue {
  color: blue;
}

.black {
  color: black;
}